@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Futura PT';
  font-weight: 500;
  font-style: normal;
  color: #fff;
  z-index: 2;
}

html {
  font-size: 18px;
}

body {
  background: #16191C;
}

section, .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 63vw;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transfer {
  display: block;
}

.lain {
  position: relative;
}

.lain::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  height: 65px;
  width: 1px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: #747576;
}

.lain::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  height: 65px;
  width: 1px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: #747576;
}

.header {
  position: relative;
  padding-top: 15.56rem;
  padding-bottom: 16.34rem;
  overflow: hidden;
}

.header_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 17px 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  border: 1px solid;
  border-image-source: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  border-radius: 10px;
  z-index: 3;
}

.header_menu_link {
  font-size: 1.222rem;
  font-weight: 300;
  margin-left: 1.5rem;
}

.header_block_text::before {
  content: "";
  position: absolute;
  top: 520px;
  right: 0;
  height: 641px;
  width: 63px;
  background: url("../img/header/Ellipse 87.png");
}

.header_block_text_title {
  font-size: 2.11rem;
  font-weight: 500;
  line-height: 3rem;
}

.header_block_text_subtitle {
  margin-top: 3.3rem;
  padding-right: 2rem;
  font-size: 1.46rem;
  font-weight: 300;
  line-height: 1.78rem;
}

.header_block_text_btn {
  position: relative;
  margin-top: 3.3rem;
  font-size: 1.22rem;
  padding: 1.2rem 3.27rem;
  background: #DD782F;
  border-radius: 10px;
}

.header_block_text_btn::after {
  content: "Начни играть по-крупному";
  position: absolute;
  top: 50%;
  right: -100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 300;
}

.header_block_text_btn::before {
  content: "";
  position: absolute;
  top: 90%;
  right: -94%;
  background: url("../img/header/Vector 14.png") no-repeat;
  height: 100%;
  width: 100%;
}

.header_block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1208px;
  background: url("../img/header/BackLines_Mainscreen.png") no-repeat;
}

.header_block::before {
  content: "";
  position: absolute;
  top: calc(50% - -100px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1336px;
  width: 1548px;
  background: url("../img/header/Mask Group.png") no-repeat;
}

.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 472px;
  bottom: 0;
  left: 0;
  background: url("../img/header/GraphicLines_left.png") no-repeat;
}

.header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 186px;
  top: 0;
  right: 0;
  background: url("../img/header/Line_dec2.png") no-repeat;
}

.cta {
  position: relative;
  padding: 3.778rem 0;
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 10px;
}

.cta_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2.78rem;
}

.cta .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta_title {
  font-size: 2rem;
}

.cta_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.cta_text {
  margin-top: 1.7rem;
  font-size: 1.1111rem;
  font-weight: 300;
  line-height: 1.7778rem;
}

.cta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 308px;
  width: 150px;
  background: url("../img/cta/Lines_dec1.png") no-repeat;
}

.cta::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 257px;
  width: 125px;
  background: url("../img/cta/Group 73.png") no-repeat;
}

.offer {
  position: relative;
  padding-top: 8.3rem;
  padding-bottom: 4.1rem;
}

.offer::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  height: 380px;
  width: 141px;
  background: url("../img/offer/Lines_dec.png") no-repeat;
}

.offer::before {
  content: "";
  position: absolute;
  bottom: -20%;
  right: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  height: 411px;
  width: 132px;
  background: url("../img/offer/Elipse1.png") no-repeat;
}

.offer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer_title {
  font-size: 2.333rem;
}

.offer_wrap {
  margin-top: 5.55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer_wrap::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  height: 73.72rem;
  width: 98.7vw;
  background: url("../img/offer/Background1.png") no-repeat;
  background-size: 100%;
  z-index: 1;
}

.offer_block {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.offer_block_wrap {
  background: #1C1F21;
  border-radius: 10px;
  padding: 1.67rem;
  padding-bottom: 5.6rem;
  min-height: 26.38rem;
}

.offer_block_img {
  height: 4.44rem;
  width: 4.44rem;
  background: #FDBB59;
  background-image: url("../img/offer/checked pas.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.offer_block_title {
  margin-top: 1.83rem;
  min-height: 3.83rem;
  font-size: 1.6667rem;
  color: #FDBB59;
  text-align: center;
}

.offer_block_text {
  margin-top: 1.4rem;
  font-size: 1.1rem;
}

.warranty {
  position: relative;
  padding-top: 4.1rem;
  padding-bottom: 2.722rem;
}

.warranty::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 380px;
  width: 113px;
  background: url("../img/warranty/Vector 53.png");
}

.warranty .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.warranty_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0.6944rem 0;
}

.warranty_block_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 10px 0px 0px 10px;
  margin-top: 5.5rem;
  padding: 4.4rem 0;
}

.warranty_block_text {
  position: relative;
  font-size: 1.11rem;
  width: 17.7rem;
}

.warranty_block_text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -37px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: url("../img/warranty/fi-rr-badge.png");
}

.warranty_title {
  font-size: 2.33rem;
}

.vip {
  position: relative;
  display: block;
  padding-top: 5rem;
  padding-bottom: 13.5rem;
  z-index: 2;
}

.vip::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1168px;
  width: 1801px;
  background: url("../img/vip/Lines_dec_background3.png") no-repeat;
}

.vip::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 403px;
  width: 109px;
  background: url("../img/vip/Vector 63.png") no-repeat;
}

.vip_title {
  font-size: 2.3rem;
  line-height: 3rem;
  text-align: center;
}

.vip_title::before {
  content: "";
  position: absolute;
  top: -1.77rem;
  left: 0;
  height: 314px;
  width: 137px;
  background: url("../img/vip/Line_dec2.png") no-repeat;
}

.vip_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.83rem;
}

.vip_block_china {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.vip_block_china_text {
  margin-right: 7.2778rem;
}

.vip_block_china_text::before {
  right: calc(-1.22rem + -24px);
}

.vip_block_china_img_wrap {
  margin-right: 16px;
}

.vip_block_italy {
  position: relative;
}

.vip_block_italy_text {
  margin-left: 7.2778rem;
}

.vip_block_italy_text::before {
  left: calc(-1.22rem + -24px);
}

.vip_block_italy::before {
  content: "";
  position: absolute;
  top: -72%;
  left: 0;
  height: 467px;
  width: 161px;
  background: url("../img/vip/Elipse_dec3.png") no-repeat;
}

.vip_block_wrap {
  margin-top: 5.8rem;
}

.vip_block_img {
  border-radius: 10px;
  z-index: 2;
}

.vip_block_img_wrap {
  position: relative;
}

.vip_block_img_wrap::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -16px;
  height: 100%;
  width: 100%;
  border: 1px solid #FDBB59;
  border-radius: 10px;
  z-index: -1;
}

.vip_block_text {
  position: relative;
  font-size: 2.16rem;
}

.vip_block_text::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FBB659;
}

.feedback {
  padding-top: 5.14rem;
  padding-bottom: 9.1rem;
}

.feedback_title {
  font-size: 2.3rem;
}

.feedback_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin-left: 1.7rem;
}

.feedback_form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 2.8rem;
}

.feedback_form_link {
  position: relative;
  font-size: 1.3rem;
}

.feedback_form_link::before {
  content: "";
  position: absolute;
  top: 10%;
  left: -20%;
  height: 24px;
  width: 24px;
  background: url("../img/feedback/01 align center.png") no-repeat;
}

.feedback_form_email {
  height: 3.27rem;
  width: 16.38rem;
  padding-left: 1.27rem;
  font-size: 0.88rem;
  border: 1px solid #848889;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
}

.feedback_form_btn {
  padding: 1rem 3.8rem;
  font-size: 1.22rem;
  background: #DD782F;
  border-radius: 10px;
}

.footer {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1.83rem;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 198px;
  width: 239px;
  background: url("../img/footer/Elipse_left.png") no-repeat;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 0;
  height: 421px;
  width: 114px;
  background: url("../img/footer/Elipse_right.png") no-repeat;
}

.footer_copy {
  font-size: 1.111rem;
}

.footer_copy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 65rem;
  background: #2E2E2E;
}

.footer_link {
  position: relative;
  font-size: 1.111rem;
  color: #e69a64;
}

@media (min-width: 992px) {
  .header_menu_link:hover {
    margin-left: 0.75rem;
    padding: 5px;
    border: 1px solid #E7B894;
    border-radius: 200px;
  }
  .header_block_text_btn:hover {
    background: #e69a64;
  }
  .offer_block {
    position: relative;
  }
  .offer_block_line {
    display: none;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -0.61rem;
    right: -0.61rem;
    border: 1px solid #FDBB59;
    border-radius: 10px;
    z-index: -1;
  }
  .offer_block:hover .offer_block_wrap {
    background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%);
  }
  .offer_block:hover .offer_block_img {
    background: #1C1F21;
    background-image: url("../img/offer/checked activ.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
  }
  .offer_block:hover .offer_block_title {
    color: #16191C;
  }
  .offer_block:hover .offer_block_line {
    display: block;
  }
  .feedback_form_btn:hover {
    background: #e69a64;
  }
  .footer_link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #FDBB59;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .footer_link:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */