@media (min-width: 992px)
	.header
		&_menu
			&_link
				&:hover
					margin-left: 0.75rem
					padding: 5px
					border: 1px solid #E7B894
					border-radius: 200px
		&_block
			&_text
				&_btn
					&:hover
						background: $btn_hover

	.offer
		&_block
			position: relative
			&_line
				display: none
				content: ""
				position: absolute
				height: 100%
				width: 100%
				top: -0.61rem
				right: -0.61rem
				border: 1px solid #FDBB59
				border-radius: 10px		
				z-index: -1
			&:hover &_wrap
				background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%)
			&:hover &_img
				background: #1C1F21
				background-image: url("../img/offer/checked activ.png")
				background-repeat: no-repeat
				background-position: center center
				border-radius: 10px
			&:hover &_title
				color: #16191C
			&:hover &_line
				display: block
	
	.feedback
		&_form
			&_btn
				&:hover
					background: $btn_hover

	.footer
		&_link
			&::before
				content: ""
				position: absolute
				left: 0
				bottom: 0
				height: 1px
				width: 100%
				background: #FDBB59
				transition: 0.2s
				transform: scale(0)
			&:hover
				&::before
					transform: scale(1)
			
					
				

